.fab {
    cursor: pointer;
    border: 2px solid #0049B2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #5399FF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab:hover {
    box-shadow: 1px 1px 1px 1px #0049B2;
    border: 1px solid #0049CC;
}